@media screen and (max-width: 760px){
    .box{
     opacity: 0;
    }

    .container{
        position: absolute;
        right: 335px;;
    }

    .container2 .inp{
        display: flex;
        flex-direction: column;
        margin-right: 440px;
    }

    .container2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: rgb(248, 193, 193);
        width: 200px;
    }
    
    .in input{
        margin-right: 300px;
    }
    .container2 .in button{
        width: 210px;
        position: absolute;
        top: 430px;
        left: 70px;
        /* display:  block; */
        border: none;
        border-radius: 8px;
        background: rgb(238, 181, 116);
        color: white;
    }

    .active{
        width: 200px;
    }


    .container2 .close_Btn i{
        margin-left: -1100px;
    }
}
