@media screen and (max-width: 760px){
    .box{
     opacity: 0;
     box-sizing: border-box;
    }

    .container{
        position: absolute;
        right: 335px;;
    }

    .container2 .inp{
        display: flex;
        flex-direction: column;
        margin-right: 440px;
    }

    .container2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: rgb(248, 193, 193);
        max-width: 350px;
    }

    
    .container2 .in input{
        margin-right: 300px;
        width: 200px;
    }

/* input[type="text"],
input[type="email"],
input[type="money"],
button {
    margin-bottom: 100px;
    padding: 8px;
    width: 150px;
} */
    .container2 .in button{
        width: 210px;
        position: absolute; 
        top: 430px;
        left: 70px;
        /* display:  block; */
        border: none;
        border-radius: 8px;
        background: rgb(238, 181, 116);
        color: white;
    }

    .container2 .in input{
        width: 200px;
        margin-left: 100px;
    }

    .in h1{
        margin-right: 80px;
    }

    .active{
        width: 200px;
    }


    /* .container2 .close_Btn i{
        margin-left: 0px;
    } */

    .container2 h1{
        width: 150px;
        margin-left:-170px ;
    }
}
